name: Apply to Greenhouse Jobs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * *"

jobs:
  apply:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - run: npm install

      - run: npx playwright install --with-deps

      - run: node scripts/applyGreenhouse.js
        env:
          GOOGLE_SERVICE_ACCOUNT: ${{ secrets.GOOGLE_SERVICE_ACCOUNT }}
